.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  min-height: 30rem;
}
form {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
  background: linear-gradient(180deg,  #e73c7e, #23a6d5, #23d5ab);
}

.name-field {
  margin-bottom: 40px;
}
h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
p {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.render-chat {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

h3 {
  color: #2f72da;
}

span {
  color: black;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}